<!DOCTYPE html>
 <html>
  <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <title>voting participation from 1973</title>
      <meta name="description" content=""/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>

    <body>
      <div >
        <button type="button"id="clickTo">Read</button>
      </div><br>
      <div id="list"></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
      <script src="main/votingParticipation.js"></script>
    </body>
</html>
